{% extends 'base.html.twig' %}

{% block title %}Edition d'un évènement{% endblock %}

{% form_theme form 'event/_collection.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Modifier l'annonce : {{event.title}}</h1>

        {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form) }}
            
    </div>

{% endblock %}


{% block javascripts %}

<script src="/js/event.js"></script>

{% endblock %}
