{% extends 'base.html.twig' %}

{% block title %}Annuaire des lieux{% endblock %}

{% block body %}

<div class="main">

    <div class="nav-side-menu">

        {% include 'place/_menu.html.twig '%}
        
    </div>

    <div class="page">

        <div class="title">
            <h2>Les lieux</h2>
            <div class="buttons">
                <button class="list-view on"><i class="fa fa-bars"></i></button>
                <button class="grid-view"><i class="fa fa-th"></i></button>
            </div>
        </div>
        <div class="wrapper list">
            {% for place in places %}
            {% include 'place/_place.html.twig '%}
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}
