{% extends 'base.html.twig' %}

{% block title %}{{ reduction.title }}{% endblock %}

{% block body %}

<div class="main">

    <div class="nav-side-menu">
        {% include 'event/_menu.html.twig '%}
    </div>

    <div class="page">
        {% if reduction.prices | length > 0 %}
            <div class="title">
                <h2>{{ reduction.title }}</h2>
                {% include 'partials/choiceView.html.twig '%}
            </div>
            <div class="wrapper list">
                {% for price in reduction.prices %}
                    {% set event = price.event %}
                    {% include 'event/_event.html.twig '%}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    <strong>La réduction {{reduction.title}}</strong> n'a pas encore d'annonce sur le site !
                </p>
            </div>
        {% endif %}

        {#% if reduction.prices.event | length > 0 %}
            
            <div class="wrapper list">
                {% for event in reduction.prices.event %}
                    {% include 'event/_event.html.twig '%}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    <strong>{{reduction.title}}</strong> n'a pas encore d'annonce sur le site !
                </p>
            </div>
        {% endif %#}

    </div>
</div>

{% endblock %}


